<main class="index">
  <header class="masthead d-flex">
    <div class="container no-padding text-center my-auto">
      <h1 class="mb-1">Productos</h1>
      <h3 class="mb-5">
        <em>Guarda tus productos</em>
      </h3>
      <a href="/signin" class="btn btn-primary">Empecemos</a>
    </div>
  </header>
</main>