<body>
  <main class="index">
    <div class="bg-background text-foreground masthead">
      <section class="w-100 py-5">
        <div class="container px-8">
          <div class="row d-flex-align-center">
            <div class="col-md-8 d-flex flex-column justify-content-center">
              <div class="mb-4">
                <h1 class="display-3 font-weight-bold">Lo mejor en calzado</h1>
                <p class="lead max-w-600">
                  Encuentra los zapatos perfectos para cualquier ocasión en nuestra tienda.
                </p>
              </div>
              <form action="/signin" method="POST">
                <button class="button-index">Comenzar</button>
              </form>
            </div>
            <div class="col-md-4 d-flex align-items-center">
              <img src="/img/product-main.jpeg" class="img-fluid rounded-lg img-custom">
            </div>
          </div>
        </div>
      </section>
      <br>
      <br>

      <section class="w-100 py-5 bg-discover wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <p class="text-muted-foreground"> Lo mejor en calzado</p>
              <h2 class="display-3 font-weight-bold">Descubre nuestra colección</h2>
              <p class="text-muted-foreground">Explora nuestra amplia selección de zapatos, desde zapatillas informales
                hasta zapatos de vestir formales. Encuentra el
                par perfecto que se adapte a tu estilo y necesidades.</p>
              <div class="row">
                <div class="col-6 mb-4">
                  <img src="/img/product1.webp" alt="Shoe Model" class="img-fluid rounded-lg img-custom"
                    style="aspect-ratio: 1 / 1;">
                </div>
                <div class="col-6 mb-4">
                  <img src="/img/product2.jpg" alt="Shoe Model" class="img-fluid rounded-lg img-custom"
                    style="aspect-ratio: 1 / 1;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="ContactUs" class="w-100 py-5 bg-muted wrapper">
        <div class="container px-4">
          <div class="row">
            <div class="col-md-6 mb-4">
              <h2 class="display-4 font-weight-bold">Contáctanos</h2>
              <p class="text-muted-foreground">Recontra lejos</p>
              <p class="text-muted-foreground">Cel: (+51) 999-999-999</p>
            </div>
            <div class="col-md-6 mb-4">
              <h2 class="display-4 font-weight-bold">Horario:</h2>
              <p class="text-muted-foreground">Lunes - Viernes: 10am - 8pm</p>
              <p class="text-muted-foreground">Sábado: 10am - 6pm</p>
              <p class="text-muted-foreground">Domingo: Cerrao</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>