<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-body">
          <h3>Welcome {{user.name}}</h3>
          <h4>{{user.email}}</h4>
          <br>
          <a href="/products/list" class="btn btn-primary d-block mb-2">
            Productos
          </a>
          <a href="/products/add" class="btn btn-primary d-block mb-2">
            Agregar producto
          </a>
          <a href="/profile" class="btn btn-primary d-block">
            Gestionar pagos
          </a>
        </div>
      </div>
    </div>
  </div>
</div>